/* FONTS */
@font-face {
    font-family: 'negara_serifhairline_italic','darker_grotesquelight','mordenregular', 'dorielregular', 'a_black_livesblacklives', 'porterbold_demo','rotanregular','londontworegular','lovtony_sansregular','masqueregular','porterbold_demo','quartzo_demobold', 'metropolisblack', 'metropolisbold','metropolisextra_bold','metropolismedium';
    
    src: 
    url('morden-webfont.woff2') format('woff2'), url('morden-webfont.woff') format('woff'),
    url('doriel-webfont.woff2') format('woff2'), url('doriel-webfont.woff') format('woff'),
    url('ablacklives-webfont.woff2') format('woff2'), url('ablacklives-webfont.woff') format('woff'),
    url('porter_bold-webfont.woff2') format('woff2'), url('porter_bold-webfont.woff') format('woff'),
    url('darkergrotesque-light-webfont.woff2') format('woff2'), url('darkergrotesque-light-webfont.woff') format('woff'),
    url('negaraserif-hairlineitalic-webfont.woff2') format('woff2'), url('negaraserif-hairlineitalic-webfont.woff') format('woff'),
    url('rotan-regular-webfont.woff2') format('woff2'),
    url('rotan-regular-webfont.woff') format('woff')
    url('londontwo-webfont.woff2') format('woff2'),
    url('londontwo-webfont.woff') format('woff'),
    url('lovtony-webfont.woff2') format('woff2'),
    url('lovtony-webfont.woff') format('woff'),
    url('masque__-webfont.woff2') format('woff2'),
    url('masque__-webfont.woff') format('woff'),
    url('porter_bold-webfont.woff2') format('woff2'),
    url('porter_bold-webfont.woff') format('woff'),
    url('quartzo__personal_use_only-webfont.woff2') format('woff2'),
    url('quartzo__personal_use_only-webfont.woff') format('woff'),
    url('metropolis-black-webfont.woff2') format('woff2'),
    url('metropolis-black-webfont.woff') format('woff'),
    url('metropolis-bold-webfont.woff2') format('woff2'),
    url('metropolis-bold-webfont.woff') format('woff'),
    url('metropolis-extrabold-webfont.woff2') format('woff2'),
    url('metropolis-extrabold-webfont.woff') format('woff'),
    url('metropolis-medium-webfont.woff2') format('woff2'),
    url('metropolis-medium-webfont.woff') format('woff');
    
    font-weight: normal;
    font-style: normal;
}



/* KEYFRAMES */
@keyframes slide-in-left { 
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



/* DEFAULTS */
html, * {
    margin: 0 0 0 0;
    margin-block: 0 0 0 0;
    padding: 0 0 0 0;
    outline: 0 0 0 0;
    border-radius: 0;
    box-sizing: border-box;
}    

body {
    min-width: 100vw;
    height: 100vh;
    background-color: white;
}    


section {
    min-width: 100vw;
    min-height: 100vh;
}    









/*
::
::::::::::::::::::::::::::::::::::::::::::::::::
------------- (A) HEADER CONTAINER -------------
::::::::::::::::::::::::::::::::::::::::::::::::
::
*/

.header-Container {
    /* Layout */
    min-width: 100vw;
    height: auto;
    top: 0;
    left: 0;
    z-index: 7;
    /* Position */
    position: fixed;
    /* Background */
    /* background-color: red; */
}    

/*  ------ NAV CONTAINER TOP ------ */
#navContainerTop {
    /* Layout */
    min-width: 100vw;
    min-height: 13.7%;
    /* Position */
    position: fixed;
    /* Background */
    background-color: none;
    /* Border */
}
/*  ------ NAV CONTAINER LEFT ------ */
#navContainerLeft {
    /* Layout */
    width: 10vw;
    height: 55vh;
    /* Position */
    position: fixed;
    /* margin: 0 0 0 89.1vw; */
    /* Background */
    background-color: none;
    /* Border */
    /* border: 5px solid violet; */
}
/*  ------ Nav Logo Container ------ */
#logoContainer{
    /* Layout */
    min-width: 9.5vw;
    height: 12.7vh;
    padding: -20%;
    /* Position */
    margin: 0 0 0 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Background */
    background-color: none;
    /* border: 3px solid orangered; */
    /* Border */
    /* Font */
    color: white;
}    
#sig {
    display: inline-flex;
    /* padding: -20% 0 1% 0; */
    max-width: 100%;
    height: 12vh;
}    

/*  ------  Nav ------ */
#linkContainer {
    /* Layout */
    min-width: 5vw;
    height: 41.175vh;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    /* Position */
    visibility: hidden;
    Background: none;
    /* background-color: tomato; */
    /* Border */
    /* border: 4px solid blue; */
    /* Animation */
    animation: slide-in-bottom 1s ease-in-out;
    /* Font */
    font-family:;
}    
/*  ------  Nav LinkWrapper ------ */
#linkWrapper {
    min-width: 14.3vw;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 16.5vh 10vw 0 -2.8vw;
    display: flex;
    transform: rotate(-90deg);
    column-gap: 7%;
    background: none;
    /* border: 4px solid purple; */
}
/*  ------  Nav Links ------ */
.navBar_Link {
    /* Layout */
    display: flex;
    min-width: 3.6vw;

    /* Position */
    padding: 5% 11.5% 5% 6.5%;
    /* Background */
    /* border: 2px solid yellow; */
    /* Border */
    /* Font */
    font-size: 120%;
    font-family: 'Amiri','Jacques Francois','UnGungseoRegular', sans-serif;
    text-decoration: none;

    --initialTextColor: black;
    --slideTextColor: white;
    --initialBgColor: transparent;
    --slideBgColor: black;
    color: var(--initialTextColor);
    background-image: linear-gradient(90deg,
        var(--initialBgColor) 0%,
        var(--initialBgColor) 50%,
        var(--slideBgColor) 50%,
        var(--slideBgColor) 100%);
    background-size: 15vw;
    transition: background-position .3s cubic-bezier(.47, .1, 1, .63), color .3s linear;
    transition-delay: 0.5s, 0.5s;
} .navBar_Link:hover { 
    color: var(--slideTextColor);
    cursor: pointer;
    background-position: -60% 100%;
}   
















/* SCENE 0 */
h1 {
    min-width: 75vw;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 2.2em;
    /* border: 5px solid white; */
}

/* em */
.boldText {
    /* font-family: 'HKGroteskLight','UnBatangRegular','negara_serifhairline_italic','UnGungseoRegular','GenomeThin', sans-serif; */
    font-family: 'metropolisbold','metropolisextra_bold','metropolismedium','porterbold_demo','a_black_livesblacklives', sans-serif;
    font-size: 5.625vw;
    font-weight: bolder;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: -1px;

    color: rgb(24, 24, 24);
} 
#regBold {
    /* font-family: 'HKGroteskLight','UnBatangRegular','negara_serifhairline_italic','UnGungseoRegular','GenomeThin', sans-serif; */
    font-family: 'metropolisbold','metropolisextra_bold','metropolismedium','porterbold_demo','a_black_livesblacklives', sans-serif;
    font-size: 5.625vw;
    font-weight: bolder;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: -1px;

    color: rgb(24, 24, 24); 
}
.regText {
    /* font-family: 'HKGroteskLight','IsabellaSansRegular','GowaRegular','AlexanderRegular','Unna','Jomolhari','Jacques Francois','Oxygen Mono','Oranienbaum','Cambay','Gilda Display','Baskervville','Suranna','Bodoni Moda','Noto Serif Display','Sawarabi Mincho','Old Standard TT','Prata','Amiri','Nanum Myeongjo','B4.512 Mono', sans-serif; */
    font-family: 'metropolisbold','metropolismedium','porterbold_demo','a_black_livesblacklives', sans-serif;
    font-size: 5.625vw;
    font-weight: lighter;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: -3px;

    color: #333333ac;
}

#boldGreeting {
}
.bottomMessage {
    position: absolute;
    bottom: 0;
    min-width: 10vw;
    height: 15vh;
    /* border: 1px solid green; */
}
.scrollHere {
    position: absolute;
    margin: 0 0 0 30%;
    bottom: 0;
    font-family: 'roboto', sans-serif;
    font-size: 70%;
    letter-spacing: 0px;
    line-height: 1.5em;
    /* border: 1px solid red; */
}.scrollHere:hover {
    cursor: crosshair;
}
#scrl1 {
    animation: 7.5s ease 0s infinite normal forwards running fade-out;
}
#scrl2 {
    animation: 7.5s ease .5s infinite normal forwards running fade-out;
}
#scrl3 {
    animation: 7.5s ease 1s infinite normal forwards running fade-out;
}
#scrl4 {
    animation: 7.5s ease 1.5s infinite normal forwards running fade-out;
}
#scrl5 {
    animation: 7.5s ease 2s infinite normal forwards running fade-out;
}
#scrl6 {
    animation: 7.5s ease 2.5s infinite normal forwards running fade-out;
}

/* PAGES */
.main {
    min-width: 100vw;
    height: auto;
    z-index: 6;
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;
}
.one {
    min-width: 100vw;
    min-height: 100vh;
    z-index: 5;
    top: 0;
    left: 0;
    position: absolute;
    /* background: url('/images-portfolio/Personal\ Profile.png');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: white;

    font-size: 3vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.h2One {
    bottom:0;
    left:0;
    min-width: 30vw;
    height: 20vh;
    margin: 0 0 19.5% 10%;
    padding: 1% 3% 0 3%;
    align-items: center;
    font-size: 200%;
    justify-content: center;
    position: absolute;
    font-family: 'HKGroteskLight','Baskervville','a_black_livesblacklives', sans-serif;
    background-color: black;
    color: white;
}
.textscramble {
    color:rgb(53, 53, 53);
}
#variable {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(65%, 150%);
    /* margin: 10.8% 0 0 8%; */
    align-items: center;
    justify-content: center;
    letter-spacing: -9px;
    font-size: 170%;
    font-family: 'HKGroteskLight','Baskervville','a_black_livesblacklives', sans-serif;
    color: black;
}
#eOperator {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'HKGroteskLight','dorielregular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 280%;
    width: 4vw;
    height: 10.2vw;
    margin: 8.8% 0 0 45%;
    /* border: 4px solid red; */
}
#eColon {
    position: absolute;
    bottom: 0;
    font-family: 'a_black_livesblacklives' ,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 155%;
    margin: 0 0 22% -20%;
    /* border: 4px solid red; */
}
#bracketL {
    position: absolute;
    top: 0;
    font-family: 'HKGroteskLight','dorielregular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 280%;
    width: 4vw;
    height: 10.2vw;
    margin: 8.8% 0 0 -15%;
    /* border: 4px solid red; */
}
.spOne {
    position: absolute;
    bottom: 0;
    margin: 0 0 18.5% -14.5%;
    font-size: 190%;
    text-align: center;
    font-family: 'Cambay','Baskervville', 'a_black_livesblacklives';
    /* border: 3px solid red; */
}
#bracketR {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'HKGroteskLight','dorielregular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 280%;
    width: 4vw;
    height: 10.2vw;
    margin: 0 0 6% 8%;
    /* border: 4px solid red; */
}
#semiColonR {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'HKGroteskLight','dorielregular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 250%;
    width: 4vw;
    height: 10.2vw;
    margin: 0 0 6% 11%;
    /* border: 4px solid red; */
}


h3 {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 34vw;
    height: 20.2vh;
    margin: -10.2% 0 0 51.5%;
    padding: 0 0 0 0;  
    /* border: 4px solid purple; */
}



.two {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 4;
    /* background: url('images-dallas/gabriel-tovar-sdeV8lqOyjs-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: black;
    color: white;

    font-size: 3vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.dallasSL {
    visibility: hidden;
}
#twoImgTrain {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 4;
    min-width: 100vw; 
    height: 100vh;
    animation: fade-in 1s ease-in-out;
}
#twoVidCow {
    position: absolute;
    z-index: 4;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 5.5%;
    max-width: 100%; 
    height: 100vh;
    animation: fade-in 2.5s ease-in-out;
    transition-delay: 1s;
    transition-duration: 1s;
}
#twoImgBridge {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 4;
    min-width: 100vw; 
    height: 100vh;
    animation: slide-in-right 2s ease-in-out;
    transition-delay: 1s;
    transition-duration: 1s;

}
#twoVidCar {
    position: relative;
    z-index: 4;
    /* margin: 0 0 0 5.5%; */
    align-items: center;
    justify-content: center;
    max-width: 100%; 
    height: 100vh;
    animation: fade-in 2.5s ease-in-out;
    transition-delay: 1s;
    transition-duration: 1s;

}
#twoImgPCity {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 4;
    min-width: 100vw; 
    height: 100vh;
    animation: slide-in-right 2s ease-in-out;
    transition-delay: 1s;
    transition-duration: 1s;
}
#twoImgCity {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 4;
    min-width: 100vw; 
    height: 100vh;
    animation: slide-in-right 1s ease-in-out;
    transition-delay: 1s;
    transition-duration: 1s;
}



.three {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
    /* background: url('/images-music/dolo-iglesias-z9z6u1rn7sY-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: rgb(114, 109, 109); */
    color: white;

    font-size: 3vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#threeVid {
    position: relative;
    visibility: hidden;
    z-index: 3;
    max-width: 100%; 
    height: 100vh;
}
.four {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    /* background: url('images-fit/julian-hochgesang-jyoTLVMv9So-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: black;
    color:black;

    font-size: 3vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
#fourVid1 {
    display: flex;
    position: relative;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 2;
    max-width: 100%; 
    height: 100vh;
}
#fourVid2 {
    display: flex;
    position: relative;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 2;
    max-width: 100%;
    height: 100vh;
}
#fourVid3 {
    display: flex;
    position: relative;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 2;
    max-width: 100%; 
    height: 100vh;
}
.five {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background-color: darkslategrey;
    color: white;

    font-size: 3vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.scene0 {
    min-width: 100vw;
    height: auto;
}









/* SCENE 1 */
.scene1 {
    align-items: center;
    justify-content: center;
    margin: 60% 0 0 0;
    min-width: 100vw;
    height: 100vh;
}
.contact {
    position: sticky;
    width: 100vw;
    height: auto;
    background-color: rgb(229, 229, 229);
}
.projects {
    position: sticky;
    width: 100vw;
    height: auto;
    background-color: rgb(197, 197, 197);
}
.resume {
    position: sticky;
    width: 100vw;
    height: auto;
    background-color: rgb(146, 146, 146);
}
.under-construction-page {
    display: none;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.under-construction-page-text {
    display: none;
    z-index: 99;
    width: 70%;
    height: 60vh;
    padding: 5% 5% 5% 5%;
    position: absolute;
    transform: translateY(20%) translateX(20%);
    top: 0;
    left: 0;
    text-align: start;
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    font-family: 'metropolisbold',sans-serif;
    font-size: 2.5em;

}
@media only screen and (min-width: 0px) and (max-width: 1204px) {
    header {
        display: none;
    }
    .scene0 {
        display: none;
    }
    .scene1 {
        display: none;
    }
    .under-construction-page {
        display: inline-block;
    }
    .under-construction-page-text {
        display: inline-block;
    }
};