/* FONTS */
@font-face {
    font-family: 'negara_serifhairline_italic','darker_grotesquelight','mordenregular', 'dorielregular', 'a_black_livesblacklives', 'porterbold_demo';
    
    src: 
    url('morden-webfont.woff2') format('woff2'), url('morden-webfont.woff') format('woff'),
    url('doriel-webfont.woff2') format('woff2'), url('doriel-webfont.woff') format('woff'),
    url('ablacklives-webfont.woff2') format('woff2'), url('ablacklives-webfont.woff') format('woff'),
    url('porter_bold-webfont.woff2') format('woff2'), url('porter_bold-webfont.woff') format('woff'),
    url('darkergrotesque-light-webfont.woff2') format('woff2'), url('darkergrotesque-light-webfont.woff') format('woff'),
    url('negaraserif-hairlineitalic-webfont.woff2') format('woff2'), url('negaraserif-hairlineitalic-webfont.woff') format('woff');
    
    font-weight: normal;
    font-style: normal;
}



/* KEYFRAMES */
@keyframes slide-in-left { 
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



/* DEFAULTS */
html, * {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}    

body {
    min-width: 100vw;
    height: auto
}    


section {
    min-width: 100vw;
    min-height: 100vh;
}    









/*
::
::::::::::::::::::::::::::::::::::::::::::::::::
------------- (A) HEADER CONTAINER -------------
::::::::::::::::::::::::::::::::::::::::::::::::
::
*/

.header-Container {
    /* Layout */
    max-width: 100%;
    min-height: 50vh;
    top: 0;
    left: 0;
    z-index: 7;
    /* Position */
    position: fixed;
    /* Background */
    /* background-color: red; */
}    

/*  ------ NAV CONTAINER ------ */
#navContainer {
    /* Layout */
    width: 10vw;
    height: 50vh;
    /* Position */
    position: fixed;
    /* margin: 0 0 0 89.1vw; */
    /* Background */
    background-color: none;
    /* Border */
    /* border: 5px solid violet; */
}    
/*  ------ Nav Logo Container ------ */
#logoContainer{
    /* Layout */
    min-width: 9.5vw;
    min-height: 11vh;
    padding: -20%;
    /* Position */
    margin: 0 0 0 0;
    text-align: center;
    /* Background */
    background-color: none;
    /* border: 5px solid orangered; */
    /* Border */
    /* Font */
    color: white;
}    
#sig {
    /* padding: -20% 0 1% 0; */
    max-width: 80%;
}    

/*  ------  Nav ------ */
#linkContainer {
    /* Layout */
    min-width: 5vw;
    height: 35.8vh;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    /* Position */
    visibility: hidden;
    Background: none;
    /* background-color: tomato; */
    /* Border */
    /* border: 4px solid blue; */
    /* Animation */
    animation: slide-in-bottom 1s ease-in-out;
    /* Font */
    font-family:;
}    
/*  ------  Nav LinkWrapper ------ */
#linkWrapper {
    min-width: 14.3vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 12.5vh 10vw 0 -2.8vw;
    display: flex;
    transform: rotate(-90deg);
    column-gap: 7%;
    background: none;
    /* border: 4px solid purple; */
}
/*  ------  Nav Links ------ */
.navBar_Link {
    /* Layout */
    display: flex;
    width: 3.6vw;
    /* Position */
    padding: 0 0 5% 5%;
    /* Background */
    /* border: 2px solid yellow; */
    /* Border */
    /* Font */
    font-size: 120%;
    font-family: 'Amiri','Jacques Francois','UnGungseoRegular', sans-serif;
    text-decoration: none;

    --initialTextColor: black;
    --slideTextColor: white;
    --initialBgColor: transparent;
    --slideBgColor: black;
    color: var(--initialTextColor);
    background-image: linear-gradient(90deg,
        var(--initialBgColor) 0%,
        var(--initialBgColor) 50%,
        var(--slideBgColor) 50%,
        var(--slideBgColor) 100%);
    background-size: 15vw;
    transition: background-position .3s cubic-bezier(.47, .1, 1, .63), color .3s linear;
    transition-delay: 0.5s, 0.5s;
} .navBar_Link:hover { 
    color: var(--slideTextColor);
    cursor: pointer;
    background-position: -50% 100%;
}   
















/* SCENE 0 */
h1 {
    min-width: 75vw;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 2.8em;
    /* border: 5px solid white; */
}

/* em */
.boldText {
    font-family: 'UnBatangRegular','negara_serifhairline_italic','UnGungseoRegular','GenomeThin', sans-serif;
    font-size: 4.5vw;
    font-weight: bold;
} 


.regText {
    font-family: 'HKGroteskLight','IsabellaSansRegular','GowaRegular','AlexanderRegular','Unna','Jomolhari','Jacques Francois','Oxygen Mono','Oranienbaum','Cambay','Gilda Display','Baskervville','Suranna','Bodoni Moda','Noto Serif Display','Sawarabi Mincho','Old Standard TT','Prata','Amiri','Nanum Myeongjo','B612 Mono', sans-serif;
    font-size: 4.5vw;
    font-weight: lighter;
    font-style: normal;
    letter-spacing: -5px;
    color:rgb(56, 56, 60);
}



/* PAGES */
.main {
    z-index: 6;
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;
}
.one {
    min-width: 100vw;
    min-height: 100vh;
    z-index: 5;
    top: 0;
    left: 0;
    position: absolute;
    /* background: url('/images-portfolio/Personal\ Profile.png');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: white;

    font-size: 3vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.h2One {
    min-width: 30vw;
    height: 20vh;
    margin: 25% 0 0 10%;
    padding: 1% 3% 0 3%;
    align-items: center;
    font-size: 200%;
    justify-content: center;
    position: absolute;
    font-family: 'HKGroteskLight','Baskervville','a_black_livesblacklives', sans-serif;
    background-color: black;
    color: white;
}
#bracketL {
    font-family: 'HKGroteskLight','dorielregular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 280%;
    width: 4vw;
    height: 10.2vw;
    margin: 25% 0 0 47%;
    /* border: 4px solid red; */
}
#bracketR {
    font-family: 'HKGroteskLight','dorielregular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 280%;
    width: 4vw;
    height: 10.2vw;
    margin: -10.2% 0 0 90%;
    /* border: 4px solid red; */
}

h3 {
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 34vw;
    height: 20.2vh;
    margin: -10.2% 0 0 51.5%;
    padding: 0 0 0 0;  
    /* border: 4px solid purple; */
}
.spOne {
    font-size: 175%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Cambay','Baskervville', 'a_black_livesblacklives';
    /* border: 3px solid red; */
}
#pImgContainer {
    max-width: 100%;
    min-height: 100vh;
}
#profileImg {
    max-width: 100%;
    height: auto;
}
.two {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 4;
    background: url('/images-dallas/gabriel-tovar-sdeV8lqOyjs-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(87, 106, 122, 1);
    color: white;

    font-size: 3vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.three {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
    /* background: url('/images-music/dolo-iglesias-z9z6u1rn7sY-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-color: rgb(114, 109, 109); */
    color: white;

    font-size: 3vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#threeVid {
    position: relative;
    visibility: hidden;
    /* top: 0;
    left: 0; */
    z-index: 3;
    max-width: 100%; 
    height: 100vh;
}
.four {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    /* background: url('images-fit/julian-hochgesang-jyoTLVMv9So-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: black;
    color:black;

    font-size: 3vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
#fourVid1 {
    display: flex;
    position: relative;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 2;
    max-width: 100%; 
    height: 100vh;
}
#fourVid2 {
    display: flex;
    position: relative;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 2;
    max-width: 100%;
    height: 100vh;
}
#fourVid3 {
    display: flex;
    position: relative;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 2;
    max-width: 100%; 
    height: 100vh;
}
.five {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background-color: darkslategrey;
    color: white;

    font-size: 3vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.scene0 {
    min-width: 100vw;
    height: auto;
}









/* SCENE 1 */
.scene1 {
    align-items: center;
    justify-content: center;
    margin: 60% 0 0 0;
    min-width: 100vw;
    height: 100vh;
}
.aboutMe {
    position: sticky;
    max-width: 100%;
    height: auto;
    background-color: azure;
}